#a {
  height: 75px;
  background-color: #2E5475;
  color: #fff;
}

#b {
  height: 150px;
  background-color: #f5c470;
}

#c, #d {
  height: 125px;
}

#c {
  background-color: #3982C1;
}

#d {
  background-color: #89C3FF;
}

#e, #f, #g, #h {
  height: 250px;
}

#e, #f {
  float: left;
  width: 50%;
}

#e {
  background-color: #2E5475;
  color: #fff;
}

#f {
  background-color: #DE9B2B;
}

#g, #h {
  float: left;
  width: 50%;
}

#g {
  background-color: #397CC1;
}

#h{
  background-color: #2E5475;
  color: #fff;
}

#i {
  clear: both;
  height: 80px;
  background-color: #89C3FF;
}


@media screen and (min-width: 800px) {
  #a {
    height: 100px;
  }

  #b {
    float: left;
    height: 600px;
    width: 20.83%;
  }

  #c, #d {
    float: left;
    height: 200px;
    width: 39.583%
  }

  #e, #f, #g, #h {
    float: left;
    width: 19.79%;
  }

  #i {
    clear: none;
    float: left;
    height: 150px;
    width: 79.167%
  }
}
